
    <div class="resume">
        <div class="block block1">
            <div class="name-title">
                <h1>Emma Vann</h1>
                <h2>Actor</h2>
            </div>
            <div class="personal-info">
                <ul>
                    <li>Email: <p id="email"><%= i.email %></p>
                    </li>
                    <li>Phone: <p id="tel"><%= i.tel %></p>
                    </li>
                    <li>www: <p id="web"><a href="#"><%= i.www %></p></a></li>
                    <br>
                    <li>Gender: <p id="gender"><%= i.gender %></p>
                    </li>
                    <li>Height: <p id="height"><%= i.height %></p>
                    </li>
                    <li>Weight: <p id="weight"><%= i.weight %></p>
                    </li>
                    <li>Hair: <p id="hair"><%= i.hair %></p>
                    </li>
                    <li>Eyes: <p id="eyes"><%= i.eyes %></p>
                    </li>
                    <li>Vocal: <p id="vocal-range"><%= i.vocal %></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="block block2">
            <div class="edu-train-skill">
                <div class="education">
                    <h3>Education</h3>
                    <ul>
                        <li>One School</li>
                        <li>Another School</li>
                        <li>College</li>
                    </ul>
                </div>
                <div class="training">
                    <h3>Training</h3>
                    <ul>
                        <li>Stage Combat</li>
                        <li>Audition course</li>
                        <li>Monologue</li>
                    </ul>
                </div>
                <div class="skills">
                    <h3>Skills</h3>
                    <ul>
                        <li>Eating</li>
                        <li>Sleeping</li>
                        <li>Heavy drinkin</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block block3">
            <div class="block3-top">
                <div class="headshot" value="0">
                    <img id="headshot" src="/images/confused-emma.jpg" alt="headshot" />
                    <img id="zoom-in" src="/images/icons8-macos-full-screen-96.png" alt="zoom-in headshot">
                    <img id="close" src="/images/icons8-macos-close-96.png" alt="zoom-in headshot">
                </div>
            </div>
            <div class="work-experience">
                <div class="theatre-exp">
                    <h3>Theatre</h3>
                    <ul>
                        <li>
                            <div class="production">
                                <h5>Macbeth</h5>
                                <div class="title-ph">
                                    <h6>Lady Macbeth</h6>
                                    <p>Brodway Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque eum
                                        rerum. Ohj. laboriosam.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Oedipus</h5>
                                <div class="title-ph">
                                    <h6>Ensemble</h6>
                                    <p>Lahden Kansanopisto</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Ensimmaisen maailman viimeiset lapset</h5>
                                <div class="title-ph">
                                    <h6>Lady Macbeth</h6>
                                    <p>Brodway</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Oedipus</h5>
                                <div class="title-ph">
                                    <h6>Ensemble</h6>
                                    <p>Lahden Kansanopisto</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Macbeth</h5>
                                <div class="title-ph">
                                    <h6>Lady Macbeth</h6>
                                    <p>Brodway</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Oedipus</h5>
                                <div class="title-ph">
                                    <h6>Ensemble</h6>
                                    <p>Lahden Kansanopisto</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="film-exp">
                    <h3>Television and film</h3>
                    <ul>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="commercial-exp">
                    <h3>Commercial</h3>
                    <ul>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="other-exp">
                    <h3>Other</h3>
                    <ul>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="production">
                                <h5>Game of Thrones</h5>
                                <div class="title-ph">
                                    <h6>Lead</h6>
                                    <p>HBO</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script> -->
    <script src="./main.js"></script>
