<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Member Profile</title>
    <!-- TODO: fix public path -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="../stylesheets/member-profile-style.css">
</head>

<body>
    
    
    <% if(user){ %>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="#" alt="">

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                            aria-controls="nav-home" aria-selected="true">Profile</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                            aria-controls="nav-profile" aria-selected="false">Edit Profile</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                            aria-controls="nav-contact" aria-selected="false">Edit Resume</a>
                    </div>
                </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
            <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <% for (let s of success) { %>
                    <div class="alert alert-success">
                        <%= s %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <% } %>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <%= user.profile.name %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <%= user.email %>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Member since</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= user.profile.memberSince %></p>
                            </div>
                        </div>
                    </div>

                    
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    
                        <form class="form-signin" method="POST" action="/users/member-profile/profile?_method=PUT">

                            <% for (let err of errors) { %>
                            <div class="alert alert-danger edit-profile-error">
                                <%= err %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                            </div>
                            <% } %>                             
                                    <label for="inputName" class="sr-only">Name</label>
                                    <input type="text" id="inputName" class="form-control" value="<%= user.profile.name %>" name="name">
                                
                                    <br />
                                    <label for="inputEmail" class="sr-only">Email address</label>
                                    <input type="text" id="inputEmail" class="form-control" value="<%= user.email %>" name="email">
                                
                                    <br />

                                    <label for="inputPassword" class="sr-only">Old Password</label>
                                    <input type="text" id="inputPassword" class="form-control" placeholder="Old Password" name="oldPassword">
                                
                                    <br />
                                    <label for="inputPassword" class="sr-only">New Password</label>
                                    <input type="text" id="inputPassword" class="form-control" placeholder="New Password" name="password">
                                
                                    <br />
                                    <label for="inputPassword" class="sr-only">Confirm New Password</label>
                                    <input type="text" id="inputPassword" class="form-control" placeholder="Confirm New Password" name="password_2">
                                
                                    <br />
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Profile</button>
                                </form>
                    </div>


                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                        <form class="form-signin" method="POST" action="/users/member-profile/resume?_method=PUT">
                            <% for (let err of errors) { %>
                            <div class="alert alert-danger">
                                <%= err %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                            </div>
                            <% } %>
                            <div class="resume">
                                <div class="block block1">
                                    <div class="name-title form-group">
                                        <div>
                                            Name:<input type="text" class="form-control" id="name" placeholder="Full Name" value="<%= resume.bio.name %>" name="name" />
                                        </div>
                                        <div>
                                            Title:<input type="text" class="form-control" id="title" placeholder="Work Title" value="<%= resume.bio.title %>" name="title"/>
                                        </div>
                                    </div>
                                    <div class="personal-info form-group">
                                        <div>
                                            <div>
                                                Email:<input type="email" class="form-control form-control-sm" id="email"
                                                    aria-describedby="email" placeholder="Email" value="<%= resume.bio.email %>" name="email" />
                                            </div>
                                        </div>
                                        <div>
                                            Phone:<input type="tel" class="form-control" id="phonenumber" placeholder="Phone number" value="<%= resume.bio.phone %>" name="phone" />
                                        </div>
                                        <div>
                                            www:<input type="url" class="form-control" id="web" placeholder="Website" value="<%= resume.bio.web %>" name="web" />
                                        </div>
                                        <br />
                                        <div>
                                            Gender:<input type="text" class="form-control" id="gender" placeholder="Gender" value="<%= resume.bio.gender %>" name="gender"/>
                                        </div>
                                        <div>
                                            Height:<input type="text" class="form-control" id="height" placeholder="Height" value="<%= resume.bio.height %>" name="height" />
                                        </div>
                                        <div>
                                            Weight:<input type="text" class="form-control" id="weight" placeholder="Weight" value="<%= resume.bio.weight %>" name="weight" />
                                        </div>
                                        <div>
                                            Hair:<input type="text" class="form-control" id="hair" placeholder="Hair" value="<%= resume.bio.hair %>" name="hair" />
                                        </div>
                                        <div>
                                            Eyes:<input type="text" class="form-control" id="eyes" placeholder="Eyes" value="<%= resume.bio.eyes %>" name="eyes" />
                                        </div>
                                        <div>
                                            Vocal:<select class="form-control" id="vocal-range" name="vocal">
                                                <option>Soprano</option>
                                                <option>Mezzo-soprano</option>
                                                <option>Contralto</option>
                                                <option>Tenor</option>
                                                <option>Baritone</option>
                                                <option>Bass</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="block block2">
                                <div class="edu-train-skill form-group">
                                    <div class="education">
                                        <h3>Education</h3>
                                      
                                        <div class="addschoolform">
                                            <input type="text" class="form-control" id="school" placeholder="School" value="" />
                                        </div>
                                    
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <button id="add-school" name="add-more" class="btn btn-primary">
                                                        Add More
                                                    </button>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="training">
                                        <h3>Training</h3>
                                        <div class="addtrainingform">
                                            <input type="text" class="form-control" id="training" placeholder="Training" />
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <button id="add-training" name="add-more" class="btn btn-primary">
                                                    Add More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skills">
                                        <h3>Skills</h3>
                                        <div class="addskillsform">
                                            <input type="text" class="form-control" id="skills" placeholder="Skill" />
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <button id="add-skill" name="add-more" class="btn btn-primary">
                                                    Add More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="block block3">
                                <div class="block3-top">
                                    <div class="form-group">
                                        <label for="headshot">Headshot</label>
                                        <input type="file" class="form-control-file" id="headshot" />
                                    </div>
                                </div>
                                <div class="work-experience">
                                    <div class="theatre-exp">
                                        <h3>Theatre</h3>
                                        <div>
                                            Play:<input type="text" class="form-control" id="playname" placeholder="Play/Production" />
                                        </div>
                                        <div>
                                            Role:<input type="text" class="form-control" id="role" placeholder="Role or title" />
                                        </div>
                                        <div>
                                            About:<textarea class="form-control" id="aboutplay" rows="3"
                                                placeholder="About the production"></textarea>
                                        </div>
                                    </div>
                                    <div class="film-exp">
                                        <h3>Television and film</h3>
                                        <div>
                                            Name:<input type="text" class="form-control" id="playname" placeholder="Play/Production" />
                                        </div>
                                        <div>
                                            Role:<input type="text" class="form-control" id="role" placeholder="Role" />
                                        </div>
                                        <div>
                                            About:<textarea class="form-control" id="aboutplay" rows="3"
                                                placeholder="About the production"></textarea>
                                        </div>
                                    </div>
                                    <div class="commercial-exp">
                                        <h3>Commercial</h3>
                                        <div>
                                            Name:<input type="text" class="form-control" id="playname" placeholder="Play/Production" />
                                        </div>
                                        <div>
                                            Role:<input type="text" class="form-control" id="role" placeholder="Role" />
                                        </div>
                                        <div>
                                            About:<textarea class="form-control" id="aboutplay" rows="3"
                                                placeholder="About the production"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
        <h4>No member logged in</h4>
        <% } %>
   
    <!-- <script src="./main.js"></script> -->

<% include ../partials/scripts %>
<link rel="stylesheet" href="/stylesheets/style.css" />
</body>

</html>